@import "../mixins";
@import "../variables";

@mixin search-component {
    position: absolute;
    top: $toolbar-height;
    left: 0;
    width: $sidenav-width;
    margin: 0;
    padding: 0;
    background-color: white;
    @include floating-element();
    @media (max-width: $sm-width) {
        top: $toolbar-height-sm;
        width: 100%;
    }
}

form {
    @include search-component();
    top: $toolbar-height + $standard-padding;
    left: $standard-padding;
    width: $sidenav-width - $twice-standard-padding;
    z-index: 20;

    input {
        border: none;
        outline: 0;
        margin: 0;
        padding: 0 $half-standard-padding;
        height: $search-form-height;
        line-height: 22px;
        font-size: 16px;
    }
}

.result-container {
    @include search-component();
    bottom: 0;
    overflow: auto;
    z-index: 10;

    padding-top: $search-form-height + $twice-standard-padding;

    .results {
        padding: 0;
        .result {
            border-top: 1px solid lightgray;
        }
        .result:last-child {
            border-bottom: 1px solid gray;
        }
    }

    .error {
        padding: $standard-padding;
    }
}

@media (max-width: $sm-width) {
    form {
        top: $toolbar-height-sm + $half-standard-padding;
        left: $half-standard-padding;
        right: $half-standard-padding;
        width: auto;
    }

    .result-container {
        padding-top: $search-form-height + $standard-padding;
    }
}
