<form (ngSubmit)="search(searchTerm.value)" fxLayout="row">
    <input #searchTerm (keyup)="search(searchTerm.value)" fxFlex>

    <button type="reset" title="Clear search terms"
            *ngIf="searchTerm.value" (click)="reset();"
            md-icon-button>
        <md-icon>clear</md-icon>
    </button>

    <button type="submit" title="Search"  md-icon-button [disabled]="!searchTerm.value">
        <md-icon>search</md-icon>
    </button>
</form>

<div *ngIf="results | async as items">
    <div class="result-container" *ngIf="items.length">
        <md-nav-list class="results">
            <md-list-item class="result" *ngIf="items.length" fxLayoutAlign="end center">
                {{ items.length }} results
            </md-list-item>

            <md-list-item class="result"
                          *ngFor="let result of items"
                          (click)="showResult(result)">
                <a md-line>{{ result.name }}</a>
                <md-icon>place</md-icon>
            </md-list-item>
        </md-nav-list>
    </div>
</div>

<div class="result-container" *ngIf="error">
    <div class="error">
        {{ error.message }}
    </div>
</div>
