{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block body %}
    {% include '_navbar.html' %}
    <div id="map"></div>
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/requirejs/require.js' %}"
            data-main="{% static 'js/map/main.js' %}"></script>
{% endblock %}
