{% extends 'base.html' %}

{% load arc %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% cdn_url 'openlayers-css' %}">
    <link rel="stylesheet" href="{% static 'map/main.css' %}">
{% endblock %}

{% block body %}
    {% include '_navbar.html' %}
    <div id="map"></div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        var bingMapsKey = '{{ bing_maps_key }}';
    </script>
    {% require_block 'map' 'openlayers-js' %}
{% endblock %}
