@import "../mixins";
@import "../variables";

:host {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.map-controls {
    position: absolute;
    z-index: 10;
    right: $standard-padding;
    bottom: $standard-padding;

    .map-control {
        background-color: $psu-green;
        margin-bottom: $half-standard-padding;
        @include floating-element();
    }
    .map-control:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: $sm-width) {
    :host {
        top: $toolbar-height-sm;
    }
    md-sidenav {
        width: $sidenav-width-sm;
    }
}
