$sm-width: 600px;

$toolbar-height: 64px;
$toolbar-height-sm: 56px;

$search-form-height: 40px;

$sidenav-width: 400px;
$sidenav-width-sm: 320px;

$psu-red: #d2492a;
$psu-green: #8c9516;
$psu-accent-green: #a8b400;
$psu-blue: #00759a;
$psu-orange: #dc9b32;
$psu-gray: #474334;

$standard-padding: 16px;
$half-standard-padding: $standard-padding / 2;
