$sm-width: 600px;

$toolbar-height: 64px;
$toolbar-height-sm: 56px;

$search-form-height: 40px;

$sidenav-width: 400px;
$sidenav-width-sm: 320px;

// Colors
$psu-red: #d2492a;
$psu-green: #8c9516;
$psu-blue: #00759a;

$psu-brown: #60351d;
$psu-sienna: #a33f1f;
$psu-orange: #dc9b32;
$psu-yellow: #e6dc8f;
$psu-tan: #e8d3a2;

$psu-accent-green: #a8b400;

$psu-purple: #650360;
$psu-light-blue: #dff2f5;

$psu-gray: #474334;
// END Colors

$standard-padding: 16px;
$half-standard-padding: $standard-padding / 2;
